@model ProjectCinema.Data.Models.Saloon
@{
    ViewData["Title"] = "GetSaloon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateSaloon", "Saloon", FormMethod.Post))
{
    @Html.LabelFor(x => x.SaloonID)
    @Html.TextBoxFor(x => x.SaloonID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SaloonName)
    @Html.TextBoxFor(x => x.SaloonName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.LineArmChairNumber)
    @Html.TextBoxFor(x => x.LineArmChairNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ColumnArmChairNumber)
    @Html.TextBoxFor(x => x.ColumnArmChairNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
}


